# Ignore some old versions of validation script, test/example efg, pycache, etc.

Generated_Data/test.efg
Generated_Data/Template

__pycache__/

Prompts/Plan.txt 

player2_action3_description.txt

# Ignore everything in Validation_Report, except two specific files
Validation_Report/*
!Validation_Report/validation3.py
!Validation_Report/validation_report.json
